{% extends "base_generic.html" %}
{% load custom_filters %}

{% block title %}Books{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto mt-6">
    <h1 class="text-3xl font-bold mb-4 text-indigo-600">Books</h1>
    <div class="flex justify-between items-center mb-4">
        <div id="pagination" class="flex space-x-2">
            <!-- Pagination buttons will be loaded here -->
        </div>
        <input class="p-2 rounded-md shadow-sm border border-gray-400" type="text" id="nameFilter" onkeyup="filterTable()" placeholder="Search for books..">
    </div>
    <div id="bookContainer" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        <!-- Dynamic content will be loaded here -->
    </div>
    <a href="{% url 'book_create' %}" class="mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-300">Add new book</a>
</div>

<script>
let currentPage = 1;

async function loadBooks(page = currentPage) {
    const nameFilter = document.getElementById('nameFilter').value.toLowerCase();
    
    const params = new URLSearchParams({
        page: page,
        name_filter: nameFilter
    });

    document.getElementById('bookContainer').innerHTML = `
        <div class="col-span-4 loading-container">
            <div class="spinner"></div>
        </div>`;

    const response = await fetch(`/books/data/?${params.toString()}`);
    const data = await response.json();

    const container = document.getElementById('bookContainer');
    container.innerHTML = '';
    data.books.forEach(book => {
        const card = document.createElement('div');
        card.className = 'bg-white shadow-md rounded-lg p-4 flex flex-col justify-between';
        card.innerHTML = `
            <div>
                <h2 class="text-lg font-semibold text-blue-500 hover:underline mb-4">
                    <a href="/book/${book._id}">${book.name}</a>
                </h2>
                <p class="text-sm text-gray-600 summary mb-2">${book.summary}</p>
                <p class="text-sm text-gray-500"><strong>Published</strong>: ${book.date_of_publication}</p>
                <p class="text-sm text-gray-500"><strong>Sales</strong>: ${book.number_of_sales}</p>
            </div>
            <div class="mt-4 flex justify-end space-x-2">
                <a href="/book/${book._id}/edit" class="text-yellow-500 hover:underline">
                    <i class="fas fa-edit"></i> Edit
                </a>
                <a href="/book/${book._id}/delete" class="text-red-500 hover:underline">
                    <i class="fas fa-trash-alt"></i> Delete
                </a>
            </div>
        `;
        container.appendChild(card);
    });

    const pagination = document.getElementById('pagination');
    pagination.innerHTML = '';
    for (let i = 1; i <= data.num_pages; i++) {
        const button = document.createElement('button');
        button.className = `px-4 py-2 mx-1 ${i == data.current_page ? 'bg-blue-500 text-white' : 'bg-white text-blue-500'}`;
        button.innerText = i;
        button.onclick = () => loadBooks(i);
        pagination.appendChild(button);
    }

    currentPage = page;
}

function filterTable() {
    currentPage = 1;
    loadBooks();
}

document.addEventListener('DOMContentLoaded', () => {
    loadBooks();
});
</script>

{% endblock %}
