{% extends "base_generic.html" %}
{% load custom_filters %}

{% block title %}Author Detail{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden mt-6">
    <div class="px-6 py-4">
        <h1 class="text-3xl font-bold mb-4 text-indigo-600">{{ author.name }}</h1>
        <p class="text-gray-700"><strong>Date of Birth:</strong> {{ author.date_of_birth }}</p>
        <p class="text-gray-700"><strong>Country of Origin:</strong> {{ author.country_of_origin }}</p>
        <p class="text-gray-700"><strong>Description:</strong> {{ author.short_description }}</p>
        <div class="mt-4">
            <a href="{% url 'author_edit' author|get_id %}" class="bg-yellow-500 text-white px-4 py-2 rounded mr-2 hover:bg-yellow-600 transition duration-300">Edit</a>
            <a href="{% url 'author_delete' author|get_id %}" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition duration-300">Delete</a>
        </div>
        <div class="mt-6">
            <h2 class="text-2xl font-bold mb-4 text-indigo-600">Books by {{ author.name }}</h2>
            {% if books %}
                <div class="space-y-4">
                    {% for book in books %}
                        <div class="bg-gray-100 p-4 rounded-lg shadow-md">
                            <a href="{% url 'book_detail' book|get_id %}" class="text-indigo-600 hover:underline">{{ book.name }}</a>
                            <p class="text-gray-700">{{ book.summary }}</p>
                            <p class="text-gray-700"><strong>Date of Publication:</strong> {{ book.date_of_publication }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-gray-700">No books available.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
